.stButton>button {
  color: #ffffff;
  background-color:#ff008c;
  border-radius: 50%;
  height: 5em;
  width: 5em;
}
/* sidebar */
.css-1suelhy {
background-color: #1c2031;
}
/* expander */
.css-1945p81 {
  padding-left: 30px;
  padding-right: 30px;
}